canvas{
  /*This filled out the canvas to make it fullscreen*/
  height:100vh;
  width: 100vw;
  background: #5D4157;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #A8CABA, #5D4157);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #A8CABA, #5D4157); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: block;
}
* {
  margin:0;
  padding:0;
  } /* to remove the top and left whitespace */

html, body {
  width:100%;
  height:100%;
  } /* just to be sure these are full screen*/
